<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%-include("./header.ejs", {showTitle: true})%>
    <h1>首页</h1>
    <p><%=title%></p>

    <ul>
        <%for(let i = 0; i < list.length; i++) {%>
            <li><%=list[i]%></li>
        <%}%>
    </ul>

    <%-html%>
    <!-- 这种注释会被看到 -->
    <%#这种注释在原文件中不会被渲染上%>
</body>
</html>