<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <style>
    .edit {
      background-color: bisque;
    }
    .delete {
      background-color: red;
    }
    .img img{
      width: 80px;
      height: 80px;
    }
  </style>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    //拦截器，
    axios.interceptors.request.use(function (config) {
      // console.log("请求发出前，执行的方法")
      // Do something before request is sent
      const token = localStorage.getItem("token")
      config.headers.Authorization = `Bearer ${token}`
      return config;
    }, function (error) {
      // Do something with request error
      return Promise.reject(error);
    });

    // Add a response interceptor
    axios.interceptors.response.use(function (response) {
      // console.log("请求成功后 ，第一个调用的方法")
      const {
        authorization
      } = response.headers
      authorization && localStorage.setItem("token", authorization)
      return response;
    }, function (error) {
      // console.log(error.response.status)
      if(error.response.status===401){
        localStorage.removeItem("token")
        location.href = "/login"
      }
      return Promise.reject(error);
    });
  </script>
</head>

<body>
  <button id="exit">退出登陆</button>
  <div>
    <label name="id">id<input name="id" id="_id" type="hidden"></label><br />
    <label name="username">账号：<input name="username" id="username" type="text"></label><br />
    <label name="password">密码：<input name="password" id="password" type="password"></label><br />
    <label name="age">年龄：<input name="age" id="age" type="text"></label><br />
    <label name="avator">文件：<input id="avator" name="avator" type="file"></label><br />
    <input id="addButton" type="submit" value="添加"></input>
    <input id="editButton" type="submit" value="确定修改"></input>
    <input id="deleteButton" type="submit" value="清空"></input>
  </div>
  <table border="1">
    <thead>
      <tr>
        <th>id</th>
        <th>姓名</th>
        <th>年龄</th>
        <th>头像</th>
        <th colspan="2">操作</th>
      </tr>
    </thead>
    <tbody id="tbody">

    </tbody>
  </table>

  <script>
    const _id = document.querySelector('#_id')
    const username = document.querySelector('#username')
    const password = document.querySelector('#password')
    const age = document.querySelector('#age')
    const addButton = document.querySelector('#addButton')
    const tbody = document.querySelector('#tbody')
    const deleteButton = document.querySelector('#deleteButton')
    const exit = document.querySelector('#exit')
    const avator = document.querySelector('#avator')
    addButton.onclick = function () {
      console.log(avator.files[0])
      const formData = new FormData()
      formData.append("username",username.value)
      formData.append("password",password.value)
      formData.append("age", age.value)
      formData.append("avator",avator.files[0])
      axios.post("/api/user/form/add", formData, {
        headers: {
          "Content-Type": "multipart/form-data"
        }
      }).then(res => {
        console.log(res.data)
        getTableData()
        if (res.data.code == 3) {
            window.location.href = "/login"
        }
      })
    }

    // 退出
    exit.onclick = function() {
      localStorage.removeItem("token")
      location.href = "/login"
    }

    getTableData()
    // 获取表格数据
    function getTableData() {
      axios.get('http://localhost:3000/api/user/list?page=1&limit=6')
    .then(res => {
        if (res.data.code) {
          console.log(res.data)
          tbody.innerHTML = res.data.data.map(item => {
            return `
                <tr>
                  <td class="id">${item._id}</td>  
                  <td class="username">${item.username}</td>  
                  <td class="age">${item.age}</td>
                  <td class="img"><img src="${item.avator}"></img></td>
                  <td><button class="edit">修改</button></td>
                  <td><button class="delete">删除</button></td>  
                </tr>
                `
          }).join("")
        } else if (res.data.code == 3) {
              window.location.href = "/login"
        }else {
          tbody.innerHTML = `
                <tr>
                  <td colspan="5">暂无数据</td>  
                </tr>
              `
        }
      })
    }

      // 事件委托方式给每个按钮添加点击事件
      tbody.addEventListener('click', function(event) {
        if(event.target.classList.contains("edit")) {
          const pNode = event.target.parentNode.parentNode;
          // console.log(pNode)
          // console.log(pNode.querySelector('.id'))
          username.value = pNode.querySelector('.username').innerText
          age.value = pNode.querySelector('.age').innerText
          _id.value = pNode.querySelector('.id').innerText
        }
        if(event.target.classList.contains("delete")) {
          const pNode = event.target.parentNode.parentNode;
          const id = pNode.querySelector('.id').innerText
          axios.delete(`/api/user/delete/${id}`).then(res => {
            if(res.data.code) {
              alert('删除成功')
              getTableData()
            } else if(res.data.code == 0){
              alert('删除失败')
            } else if (res.data.code == 3) {
              window.location.href = "/login"
            }
          })
        }
      })

      // 修改数据
      editButton.onclick = function() {
        axios.put(`/api/user/edit/${_id.value}`, {
            username: username.value,
            age: age.value,
        }).then(res => {
          if(res.data.code) {
              alert('修改成功')
              getTableData()
            }else if (res.data.code == 3) {
              window.location.href = "/login"
            } else {
              alert('修改失败')
            }
        })
      }

      // 清空表格数据
      deleteButton.onclick = function() {
        username.value = ''
        password.value = ''
        age.value = ''
      }
  </script>
</body>

</html>